<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{/fragment :: title}">MY Love</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Operator</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>if-then</td>
            <td>2?</td>
            <td th:text="4<2? 'Yes':'No'"></td>
        </tr>
        <tr>
            <td>Default</td>
            <td>null?</td>
            <td th:text="true?'':'codeGym'"></td>
        </tr>
        <tr>
            <td>Default</td>
            <td>HaNoi?</td>
            <td th:text="'Hanoi'?:'Vietnam'"></td>
        </tr>
        <tr>
            <td>==</td>
            <td>5==4</td>
            <td th:text="5==4"></td>
        </tr>
        <tr>
            <td>%</td>
            <td>5%4</td>
            <td th:text="5%4"></td>
        </tr>
    </table>

    <table border="1" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Role</th>
            <th>index</th>
            <th>count</th>
        </tr>
        <tr th:each="customer, loopState : ${customers}">
            <td th:with="id=${customer.id}" th:text="${id}"></td>
            <td th:with="name=${customer.name}" th:text="${name}"></td>
            <td th:with=" address =${customer.address}" th:text="${address}"></td>
            <td th:switch="${customer.role}">
                <span th:case="0">Admin</span>
                <span th:case="1">Moderator</span>
                <span th:case="2">Customer</span>
            </td>
            <td th:text="${loopState.index}"></td>
            <td th:text="${loopState.count}"></td>
        </tr>
    </table>

<!-- fragments-->
<div th:insert="~{/fragment :: my-fragment1}"></div>
<div th:insert="~{/fragment :: #my-id1}"></div>
<div th:insert="~{/fragment :: p.my-class}"></div>
</body>
</html>